---
- name: Check config file existence
  register: config_file_stat
  stat:
    path: '{{ file_site_config }}'
    follow: true

- name: Configure nginx non-SSL config file
  template:
    src: nginx.conf
    dest: '{{ file_site_config }}'
  notify:
    - restart nginx
  when: not config_file_stat.stat.exists

- name: Enable nginx app
  file:
    src: '{{ file_site_config }}'
    dest: '/etc/nginx/sites-enabled/{{ instance_id }}.conf'
    state: link
  notify:
    - restart nginx

- name: Create SSL cert storage
  file:
    dest: '{{ dir_ssl }}'

- include_tasks: config-ssl-self-signed.yml
  when: ssl_sign_by == 'self'

- include_tasks: config-ssl-letsencrypt.yml
  when: ssl_sign_by == 'letsencrypt'

- name: Configure nginx SSL config file
  template:
    src: nginx-ssl.conf
    dest: '/etc/nginx/sites-available/{{ instance_id }}.conf'
  notify:
    - restart nginx
