---
- name: Install pip and cron
  apt:
    name: "{{ packages }}"
    state: present
  vars:
      packages:
        - python3-pip
        - cron

- name: Instal certbot from pip
  pip:
    name: "{{ packages }}"
    state: present
  vars:
    packages:
      - certbot==1.4
      - certbot-nginx==1.4

- name: Set self signed facts
  set_fact:
    file_letsencrypt_cert: '/etc/letsencrypt/live/{{ dns_main }}/cert.pem'
    file_letsencrypt_key: '/etc/letsencrypt/live/{{ dns_main }}/privkey.pem'

- name: Check letsencrypt signed certificate existence
  register: letsencrypt_cert_stat
  stat:
    path: '{{ file_letsencrypt_cert }}'
    follow: true

- name: Check self signed key existence
  register: letsencrypt_key_stat
  stat:
    path: '{{ file_letsencrypt_key }}'
    follow: true

- name: Generate self-signed certificate
  command: 'certbot -n --nginx --agree-tos --email {{ admin_email }} --domains {{ dns_all | join(",") }}'
  when: not (letsencrypt_cert_stat.stat.exists and letsencrypt_key_stat.stat.exists)

- name: Link certificate
  file:
    src: '{{ file_letsencrypt_cert }}'
    dest: '{{ file_ssl_cert }}'
    state: link

- name: Link key
  file:
    src: '{{ file_letsencrypt_key }}'
    dest: '{{ file_ssl_key }}'
    state: link

- name: Configure Lets Encrypt renew cron job
  cron:
    name: Renew Lets Encrypt certificates
    weekday: 0
    job: certbot renew

